.row.hero-unit
  /
    <haml:loud> image_tag 'logo_big.png', id: &quot;hero-ruby&quot;, class: &quot;span2&quot; </haml:loud>
  #hero-text.span9
    %h1 北京Rubyist
    %p
      Hi 北京Rubyists，在这里我们可以一起贡献开源项目，研究个人项目和互相切磋。我们欢迎任何水平的rubyist参与我们的活动.
    %a.weibo-follow-button{"data-lang" => "en", "data-show-count" => "false", :href => "http://weibo.com/u/2751693901"} 关注 @北京Rubyist
.row
  .span4
    %h2 Why?
    %p
      The Ruby and Rails worlds are known for their collaboration, and 北京Rubyist takes an active role. We focus on fun and collaborate to solve problems. We provide each other support as we take on new challenges in Ruby.
  .span4
    %h2 How?
    %p
      We also host larger, formal events on a semi-regular basis. We encourage everyone, from Ruby novice to expert, to join us to learn and contribute. We're excited to grow and support the Ruby and Rails communities!
  .span4
    %h2 Where?
    %p
      Join our #{link_to "mailing list", join_us_path}, follow us on
      = succeed "," do
        %a{:href => "http://weibo.com/u/2751693901"} 微博
      and peruse or submit to our #{link_to "Beijing jobs board", join_us_path}.
.row
  #map.span12
    #address.span4
      %h1 Join 北京Rubyist
      Come hack with us! We’re at Vivace Café every Tuesday from 7-9 p.m. Bring whatever you’re working on, grab a cup of coffee, and meet other Rubyists. Everyone is welcome!
      %table
        %tr
          %td
            %i.icon-time
          %td
            %h3
              %time 2:00p
              to
              %time 5:00p
              Every Saturday
        %tr
          %td
            %i.icon-map-marker
          %td
            %address
              %h3 盛大创新院
              北京市海淀区王庄路1号
              %br/
              清华同方科技广场（二期）
              %br/
              D座西楼18层
    .span8
      %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://ditu.google.cn/maps?f=q&source=s_q&hl=zh-CN&geocode=&q=%E5%8C%97%E4%BA%AC%E5%B8%82%E6%B5%B7%E6%B7%80%E5%8C%BA%E7%8E%8B%E5%BA%84%E8%B7%AF1%E5%8F%B7%E6%B8%85%E5%8D%8E%E5%90%8C%E6%96%B9%E7%A7%91%E6%8A%80%E5%B9%BF%E5%9C%BA%E4%BA%8C%E6%9C%9FD%E5%BA%A7&sll=39.996356,116.336246&sspn=0.004997,0.008776&brcurrent=3,0x35f053b5bd1f38b9:0x998bd5907e3f5486,0,0x35f05137c865ad63:0xd348af83c67dc389%3B5,0,0&ie=UTF8&hq=&hnear=%E5%8C%97%E4%BA%AC%E5%B8%82%E6%B5%B7%E6%B7%80%E5%8C%BA%E7%8E%8B%E5%BA%84%E8%B7%AF%E6%B8%85%E5%8D%8E%E5%90%8C%E6%96%B9%E7%A7%91%E6%8A%80%E5%B9%BF%E5%9C%BA%E4%BA%8C%E6%9C%9FD%E5%BA%A7&t=m&z=14&ll=39.998363,116.339538&output=embed", :width => "425"}
      %br/
      %small
        %a{:href => "http://ditu.google.cn/maps?f=q&source=embed&hl=zh-CN&geocode=&q=%E5%8C%97%E4%BA%AC%E5%B8%82%E6%B5%B7%E6%B7%80%E5%8C%BA%E7%8E%8B%E5%BA%84%E8%B7%AF1%E5%8F%B7%E6%B8%85%E5%8D%8E%E5%90%8C%E6%96%B9%E7%A7%91%E6%8A%80%E5%B9%BF%E5%9C%BA%E4%BA%8C%E6%9C%9FD%E5%BA%A7&sll=39.996356,116.336246&sspn=0.004997,0.008776&brcurrent=3,0x35f053b5bd1f38b9:0x998bd5907e3f5486,0,0x35f05137c865ad63:0xd348af83c67dc389%3B5,0,0&ie=UTF8&hq=&hnear=%E5%8C%97%E4%BA%AC%E5%B8%82%E6%B5%B7%E6%B7%80%E5%8C%BA%E7%8E%8B%E5%BA%84%E8%B7%AF%E6%B8%85%E5%8D%8E%E5%90%8C%E6%96%B9%E7%A7%91%E6%8A%80%E5%B9%BF%E5%9C%BA%E4%BA%8C%E6%9C%9FD%E5%BA%A7&t=m&z=14&ll=39.998363,116.339538", :style => "color:#0000FF;text-align:left"} 查看大图