<div class="row hero-unit">
<!--   <%= image_tag 'logo_big.png', id: "hero-ruby", class: "span2" %>

 -->  <div id='hero-text' class='span9'>
    <h1>北京Rubyist</h1>
    <p>
      Hi 北京Rubyists，在这里我们可以一起贡献开源项目，研究个人项目和互相切磋。我们欢迎任何水平的rubyist参与我们的活动.
    </p>
    <a href="http://weibo.com/u/2751693901" class="weibo-follow-button" data-show-count="false" data-lang="en">关注 @北京Rubyist</a>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h2>Why?</h2>
     <p>
       The Ruby and Rails worlds are known for their collaboration, and 北京Rubyist takes an active role. We focus on fun and collaborate to solve problems. We provide each other support as we take on new challenges in Ruby. 
     </p>
  </div>
  <div class="span4">
    <h2>How?</h2>
    <p>
      We also host larger, formal events on a semi-regular basis. We encourage everyone, from Ruby novice to expert, to join us to learn and contribute. We're excited to grow and support the Ruby and Rails communities!
    </p>
 </div>
  <div class="span4">
    <h2>Where?</h2>
    <p>
      Join our <%= link_to "mailing list", join_us_path %>, follow us on <a href='http://weibo.com/u/2751693901'>微博</a>, and peruse or submit to our <%= link_to "Beijing jobs board", join_us_path %>.
    </p>
  </div>
</div>

<div class='row'>
  <div id="map" class='span12'>
    <div id="address" class='span4'>
      <h1>Join 北京Rubyist</h1>
      Come hack with us! We’re at Vivace Café every Tuesday from 7-9 p.m. Bring whatever you’re working on, grab a cup of coffee, and meet other Rubyists. Everyone is welcome!
      <table>
        <tr>
          <td><i class='icon-time'></i></td>
          <td><h3><time>2:00p</time> to <time>5:00p</time> Every Saturday</h3></td>
        </tr>
        <tr>
          <td><i class='icon-map-marker'></i></td>
          <td>
            <address>
              <h3>盛大创新院</h3>
              北京市海淀区王庄路1号<br />
              清华同方科技广场（二期）<br />
              D座西楼18层
            </address>
          </td>
        </tr>
      </table>
    </div>
    <div class='span8'>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.hk/maps?ie=UTF8&amp;cid=16545271589653766408&amp;q=%E6%B8%85%E5%8D%8E%E5%90%8C%E6%96%B9%E7%A7%91%E6%8A%80%E5%A4%A7%E5%8E%A6&amp;gl=HK&amp;hl=en&amp;t=m&amp;iwloc=A&amp;brcurrent=3,0x0:0x0,0&amp;ll=39.999306,116.339277&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.hk/maps?ie=UTF8&amp;cid=16545271589653766408&amp;q=%E6%B8%85%E5%8D%8E%E5%90%8C%E6%96%B9%E7%A7%91%E6%8A%80%E5%A4%A7%E5%8E%A6&amp;gl=HK&amp;hl=en&amp;t=m&amp;iwloc=A&amp;brcurrent=3,0x0:0x0,0&amp;ll=39.999306,116.339277&amp;spn=0.006295,0.006295&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
  </div>
</div>
