%h3
  Theme
  %ul
    What have I done?
    %ol
      2012年07月06日（周五） 晚上7点至9点 车库咖啡	    (Sunny)
    %ol
      2012年07月21日（周六） 下午7点至5点 盛大创新院	  (百年一次的大雨)
    %ol
      2012年08月11日（周六） 下午7点至5点 盛大创新院		(据说下雨)
    %ol
      2012年09月01日（周六） 下午7点至5点 盛大创新院		(雨)
    %ol
      2012年10月21日（周日） 下午7点至5点 盛大创新院		(天气预报说有雨)
  %ul
    =link_to 'What am I going to do?', root_path
  %ul
    How?